<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TestOnline0.3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModifyServlet</servlet-name>
    <servlet-class>servlet.ModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyServlet</servlet-name>
    <url-pattern>/ModifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OpeningTest</servlet-name>
    <servlet-class>servlet.OpeningTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpeningTest</servlet-name>
    <url-pattern>/OpeningTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReadTestServlet</servlet-name>
    <servlet-class>servlet.ReadTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadTestServlet</servlet-name>
    <url-pattern>/ReadTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitTestServlet</servlet-name>
    <servlet-class>servlet.SubmitTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitTestServlet</servlet-name>
    <url-pattern>/SubmitTestServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CreateQuestionServlet</servlet-name>
    <servlet-class>servlet.CreateQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateQuestionServlet</servlet-name>
    <url-pattern>/CreateQuestionServlet</url-pattern>
  </servlet-mapping>
</web-app>